$border_color: #E8E8E8;
$width_logo: 190 !default;
$width_logo_mobile: 140 !default;
$bg_header_color: rgba(255, 255, 255, 1) !default;
$bg_top_bar: rgba(65, 75, 79, 1) !default;
$text_color_top_bar: #cccccc !default;
$link_color_top_bar: #ffffff !default;
$text_menu_color: #333333 !default;
$text_home_page: #ffffff !default;
$font_size_main_menu: 14 !default;
$font_weight_main_menu: 600 !default;
$bg_sticky_menu: rgba(0, 0, 0, 0) !default;
$text_color_sticky_menu: #fff !default;
$sub_menu_bg_color: #ffffff !default;
$sub_menu_text_color: #333333 !default;
$sub_menu_text_hover_color: #ffb300 !default;
$mobile_menu_bg_color: #232323 !default;
$mobile_menu_text_color: #ffffff !default;
$mobile_text_hover_color: #ffffff !default;
$body_color_primary: #ffb300 !default;
$body_color_second: #26BDF7 !default;
$font_size_h1: 28 !default;
$font_weight_h1: normal !default;
$font_size_h2: 24 !default;
$font_weight_h2: normal !default;
$font_size_h3: 22 !default;
$font_weight_h3: normal !default;
$font_size_h4: 20 !default;
$font_weight_h4: normal !default;
$font_size_h5: 18 !default;
$font_weight_h5: normal !default;
$font_size_h6: 16 !default;
$font_weight_h6: normal !default;
$bg_footer: #414b4f !default;
$text_color_footer: #cccccc !default;
$text_font_size_footer: 13 !default;
$border_color_footer: #5b6366 !default;
$title_color_footer: #ffffff !default;
$title_font_size_footer: 18 !default;
$bg_newsletter_color: rgba(0, 0, 0, 0.5) !default;
$body_color: #555;
$body-font-family: Roboto, Helvetica, Arial, sans-serif;
$font_weight_body: 400;
$body_font_size: 14px;
$body_line_height: 24px;
$heading-font-family: Roboto, Helvetica, Arial, sans-serif;
$heading-color: #333;
$heading-font-weight: 700;