/* 
	1.	GENERAL
	2.	KONTAK PAGE	
	3.	BLOG 
*/

/*===================================================
	1.	GENERAL
		1.	PAGINATION 
===================================================*/
.alert{
	text-align: center;
	font-size: 20px;
}
.clear{
	clear: both;
	float: none;
}

/*===================================================
	1.	PAGINATION 
===================================================*/
.pagination {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
}
.pagination ul {
    float: left;
    list-style: outside none none;
    padding: 0px;
    margin: 0px;
}
.pagination ul li {
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}
.pagination ul li a {
    display: inline-block;
    color: #666;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 6px;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}
.pagination-first a, .pagination-last a {
    border: medium none;
    line-height: 36px;
    color: #FFF !important;
    display: inline-block;
    height: 40px;
    min-width: 40px;
    background-color: #999;
    padding: 0px 10px;
    width: auto !important;
}
.pagination .active,
.pagination .active a{
	color:red !important;
}


/*===================================================
	2.	KONTAK PAGE	
===================================================*/
.contact-info .tel a,
.contact-info .email a{
	color: #3F4444;
}

/*===================================================
	3.	BLOG 
===================================================*/
.post_picture{
	width:100%;
}
.comment-area{
	margin-bottom: 50px;
}
.search-blog-wrapper{
	padding: 0;
}
.nav-next{
    float: right;
}
.comment_name_on_list{
    font-weight: bold;
}